#### Instructions:

For all questions after 10th, Please only use the data specified in the note given just below the question
You need to add answers in the same file i.e. PDS_UberDriveProject_Questions.ipynb' and rename that file as 'Name_Date.ipynb'.You can mention the date on which you will be uploading/submitting the file.For e.g. if you plan to submit your assignment on 31-March, you can rename the file as 'STUDENTNAME_01-Jan-2021'

# Load the necessary libraries. Import and load the dataset with a name uber_drives .

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [2]:
# Get the Data
ubdr = pd.read_csv('uberdrives.csv')

## Q1. Show the last 10 records of the dataset. (2 point)

In [3]:
ubdr.tail(10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Karachi,Karachi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Karachi,Karachi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Karachi,Karachi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Karachi,Karachi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Karachi,Karachi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Karachi,Karachi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Karachi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

## Q2. Show the first 10 records of the dataset. (2 points)

In [4]:
ubdr.head(10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,01-06-2016 17:15,01-06-2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,01-06-2016 17:30,01-06-2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,01-07-2016 13:27,01-07-2016 13:33,Business,Cary,Cary,0.8,Meeting
8,01-10-2016 08:05,01-10-2016 08:25,Business,Cary,Morrisville,8.3,Meeting
9,01-10-2016 12:17,01-10-2016 12:44,Business,Jamaica,New York,16.5,Customer Visit

## Q3. Show the dimension(number of rows and columns) of the dataset. (2 points)

In [5]:
ubdr.shape

(1155, 7)

## Q4. Show the size (Total number of elements) of the dataset. (2 points)

In [6]:
ubdr.size

8085

## Q5. Display the information about all the variables of the data set. What can you infer from the output?(1 +2 points)

#### Hint: Information includes - Total number of columns,variable data-types, number of non-null values in a variable, and usage

In [7]:
ubdr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1155 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

## Inference

## Q6. Check for missing values. (2 points) 

####  Note: Output should contain only one boolean value

In [8]:
ubdr.isnull().any()

START_DATE*    False
END_DATE*      False
CATEGORY*      False
START*         False
STOP*          False
MILES*         False
PURPOSE*        True
dtype: bool

## Q7. How many missing values are present in the entire dataset? (2 points)

In [9]:
ubdr.isnull().sum()

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
dtype: int64

## Q8. Get the summary of the original data. (2 points).

#### Hint: Summary includes- Count,Mean, Std, Min, 25%,50%,75% and max

In [10]:
ubdr.describe()

            MILES*
count  1155.000000
mean     10.566840
std      21.579106
min       0.500000
25%       2.900000
50%       6.000000
75%      10.400000
max     310.300000



## Q9. Drop the missing values and store the data in a new dataframe (name it"df") (2-points)

#### Note: Dataframe "df" will not contain any missing value

In [11]:
df = ubdr
df = df.dropna()

## Q10. Check the information of the dataframe(df). (1 points)

#### Hint: Information includes - Total number of columns,variable data-types, number of non-null values in a variable, and usage

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  653 non-null    object
 1   END_DATE*    653 non-null    object
 2   CATEGORY*    653 non-null    object
 3   START*       653 non-null    object
 4   STOP*        653 non-null    object
 5   MILES*       653 non-null    float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 40.8+ KB

## Q11. Get the unique start locations. (2 points)
#### Note: This question is based on the dataframe with no 'NA' values

In [13]:
uniqstart = df['START*'].unique().tolist()
uniqstart

['Fort Pierce',
 'West Palm Beach',
 'Cary',
 'Jamaica',
 'New York',
 'Elmhurst',
 'Midtown',
 'East Harlem',
 'Flatiron District',
 'Midtown East',
 'Hudson Square',
 'Lower Manhattan',
 "Hell's Kitchen",
 'Downtown',
 'Gulfton',
 'Houston',
 'Eagan Park',
 'Morrisville',
 'Durham',
 'Farmington Woods',
 'Lake Wellingborough',
 'Fayetteville Street',
 'Raleigh',
 'Whitebridge',
 'Hazelwood',
 'Fairmont',
 'Meredith Townes',
 'Apex',
 'Chapel Hill',
 'Northwoods',
 'Edgehill Farms',
 'Eastgate',
 'East Elmhurst',
 'Long Island City',
 'Katunayaka',
 'Colombo',
 'Nugegoda',
 'Unknown Location',
 'Islamabad',
 'R?walpindi',
 'Noorpur Shahan',
 'Preston',
 'Heritage Pines',
 'Tanglewood',
 'Waverly Place',
 'Wayne Ridge',
 'Westpark Place',
 'East Austin',
 'The Drag',
 'South Congress',
 'Georgian Acres',
 'North Austin',
 'West University',
 'Austin',
 'Katy',
 'Sharpstown',
 'Sugar Land',
 'Galveston',
 'Port Bolivar',
 'Washington Avenue',
 'Briar Meadow',
 'Latta',
 'Jacksonville',
 'Lake Reams',
 'Orlando',
 'Kissimmee',
 'Daytona Beach',
 'Ridgeland',
 'Florence',
 'Meredith',
 'Holly Springs',
 'Chessington',
 'Burtrose',
 'Parkway',
 'Mcvan',
 'Capitol One',
 'University District',
 'Seattle',
 'Redmond',
 'Bellevue',
 'San Francisco',
 'Palo Alto',
 'Sunnyvale',
 'Newark',
 'Menlo Park',
 'Old City',
 'Savon Height',
 'Kilarney Woods',
 'Townes at Everett Crossing',
 'Huntington Woods',
 'Weston',
 'Seaport',
 'Medical Centre',
 'Rose Hill',
 'Soho',
 'Tribeca',
 'Financial District',
 'Oakland',
 'Emeryville',
 'Berkeley',
 'Kenner',
 'CBD',
 'Lower Garden District',
 'Storyville',
 'New Orleans',
 'Chalmette',
 'Arabi',
 'Pontchartrain Shores',
 'Metairie',
 'Summerwinds',
 'Parkwood',
 'Banner Elk',
 'Boone',
 'Stonewater',
 'Lexington Park at Amberly',
 'Winston Salem',
 'Asheville',
 'Topton',
 'Renaissance',
 'Santa Clara',
 'Ingleside',
 'West Berkeley',
 'Mountain View',
 'El Cerrito',
 'Krendle Woods',
 'Fuquay-Varina',
 'Rawalpindi',
 'Lahore',
 'Karachi',
 'Katunayake',
 'Gampaha']

## Q12. What is the total number of unique start destinations? (2 points)
#### Note: Use the original dataframe without dropping 'NA' values

In [14]:
uniqstarttotal = ubdr['START*'].unique().tolist()
len(uniqstarttotal)

176

## Q13. What is the total number of unique stop locations. (2 points)
#### Note: Use the original dataframe without dropping 'NA' values.

In [15]:
uniqstoptotal = ubdr['STOP*'].unique().tolist()
len(uniqstoptotal)

187

## Q14. Display all Uber trips that has the starting point as San Francisco. (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

In [16]:
start = 'San Francisco'
mask1 = ubdr['START*'].str.contains(start)
startsfdf = ubdr[mask1].copy()
startsfdf

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
362,05-09-2016 14:39,05-09-2016 15:06,Business,San Francisco,Palo Alto,20.5,Between Offices
440,6/14/2016 16:09,6/14/2016 16:39,Business,San Francisco,Emeryville,11.6,Meeting
836,10/19/2016 14:02,10/19/2016 14:31,Business,San Francisco,Berkeley,10.8,NaN
917,11-07-2016 19:17,11-07-2016 19:57,Business,San Francisco,Berkeley,13.2,Between Offices
919,11-08-2016 12:16,11-08-2016 12:49,Business,San Francisco,Berkeley,11.3,Meeting
927,11-09-2016 18:40,11-09-2016 19:17,Business,San Francisco,Oakland,12.7,Customer Visit
933,11-10-2016 15:17,11-10-2016 15:22,Business,San Francisco,Oakland,9.9,Temporary Site
966,11/15/2016 20:44,11/15/2016 21:00,Business,San Francisco,Berkeley,11.8,Temporary Site

## Q15. What is the most popular starting point for the Uber drivers? (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

#### Hint:Popular means the place that is visited the most

In [ ]:
ubdr['START*'].value_counts()

We can observe that the most popular start location for Uber drivers is Cary with 201 starts.

## Q16. What is the most popular dropping point for the Uber drivers? (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

#### Hint: Popular means the place that is visited the most

In [ ]:
ubdr['STOP*'].value_counts()

We can observe that the most popular stop location for Uber drivers is Cary with 203 stops.

## Q17. What is the most frequent route taken by Uber drivers. (3 points)
#### Note: This question is based on the new dataframe with no 'na' values.
#### Hint-Print the most frequent route taken by Uber drivers (Route= combination of START & END points present in the Data set).

In [ ]:
df['route'] = df['START*'] + ' ' + df['STOP*']

# routedf = df['route'].unique().tolist()
# routedf

df['route'].value_counts()

The most frequent route taken by Uber drivers is Cary --> Morrisville.

## Q18. Display all types of purposes for the trip in an array. (2 points)
#### Note: This question is based on the new dataframe with no 'NA' values.

In [ ]:
uniqpurpose = df['PURPOSE*'].unique().tolist()
uniqpurpose

## Q19. Plot a bar graph of Purpose vs Miles(Distance). What can you infer from the plot(2 +2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.
#### Hint:You have to plot total/sum miles per purpose

In [ ]:
sns.set(rc={'figure.figsize':(15,8)})
sns.barplot(ubdr['MILES*'], ubdr['PURPOSE*']);

We can infer that people take Ubers mostly for commute. However, we can also understad that customers of Uber do not prefer sharing their purpose of travel and rather generally state the purpose as 'commute'.

## Q20. Display a dataframe of Purpose and the total distance travelled for that particular Purpose. (3 points)
#### Note: Use the original dataframe without dropping "NA" values

In [ ]:
dfp = round(ubdr.groupby('PURPOSE*')['MILES*'].sum(),2)
dfp

## Q21. Generate a plot showing count of trips vs category of trips. What can you infer from the plot (2 +1 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

In [ ]:
sns.countplot(ubdr['PURPOSE*']);

We can infer that the Ubers are used for the following purposes most to least in the following order.
1. Meeting
2. Meal/Entertain
3. Erand/Supplies
4. Customer Visit
5. Temporary Site
6. Betwen Offices
7. Moving
8. Airport/Travel
9. Commute
10. Charity

## Q22. What percentage of Miles were clocked under Business Category and what percentage of Miles were clocked under Personal Category ? (3 points)

### Note:Use the original dataframe without dropping the 'NA' values.

In [ ]:
x = ubdr[ubdr["PURPOSE*"]=="Meeting"]["MILES*"].sum()
y = ubdr[ubdr["PURPOSE*"]=="Cutomer Visit"]["MILES*"].sum()
z = ubdr[ubdr["PURPOSE*"]=="Between Offices"]["MILES*"].sum()

a = ubdr[ubdr["PURPOSE*"]=="Meal/Entertain"]["MILES*"].sum()
b = ubdr[ubdr["PURPOSE*"]=="Errand/Supplies"]["MILES*"].sum()

w = ubdr["MILES*"].sum()

print("The percentage of Miles clocked under Business Category is:",(x+y+z)*100/w)
print("The percentage of Miles clocked under Personal Category is:",(a+b)*100/w)

***THE END***